body {
    margin:0;
}

main {
    background-image: url('imgs/bg.jpg');
    background-size: cover;
    background-position:center;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

h2 {
    font-family: 'poppins';
    color:white;
}

